* {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    color: white;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
}

.background-image .infobar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    text-decoration: none;
    padding-left: 5%;
    padding-right: 15%;
    position: fixed;
    width: 100%;
    height: 45px;
}

.background-image .infobar .mylinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.background-image .infobar a:hover {
    background-color: transparent;
    color: red;
    text-decoration: none;
    font-size: large;
}

.background-image .infobar:hover {
    background-color: transparent;
    color: red;
    text-decoration: none;
}

.background-image .intro {
    text-align: calc(100%-80%);
    padding: 20%;
}

.background-image .intro h1 {
    font-size: 2.5rem;
}

.background-image .intro h2 {
    font-size: 2rem;
    color: rgb(250, 40, 40);
}

.background-image .intro .portfolio-btn {
    color: rgb(250, 40, 40);
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    border: 2px solid;
    border-color: rgb(250, 40, 40);
    cursor: pointer;
}

.background-image .intro .portfolio-btn:hover {
    background-color: transparent;
}

.background-image {
    background-image: url('DSC_1702.jpg');
    width: 100vw;
    height: 100vh;
}